@using Microsoft.AspNetCore.Mvc.Rendering
@using Models
@model Deelvraag1FilterOptions

@{
    ViewBag.Title = "Hoe is de werkgelegenheid geregeld in Nederland voor jongeren?";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    if (@ViewData["Filters"] is Deelvraag1FilterOptions filter)
    {
        
        
        @Html.DropDownListFor(m => m.Kenmerkenwerknemer, filter.SelectedKenmerkenwerknemer, "Kenmerkenwerknemer", 
            new { id="Kenmerkenwerknemer"}) <br>                                   
       
        @Html.DropDownListFor(m => m.Criteria, filter.SelectedCriteria, "Criteria", 
            new { id="Crit"}) <br>                                                                                           
        
        @*@Html.DropDownListFor(m => m.Sector, filter.SelectedSector, "Sector", 
            new { id="Sector"}) <br>@*@
        
        
    
                        
                                                                                 
    }
    <input type="submit", value="Search">
}


@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        $.ajaxSetup({
            async: false
        });
        var root = "@ViewData["root"]";
        //var Kenmerkenwerknemer1 = document.getElementById("Kenmerkenwerknemer1");
        //var Period = document.getElementById("Period");
        var Kenmerkenwerknemer = document.getElementById("Kenmerkenwerknemer").value;
        var Crit = document.getElementById("Crit");
        var Coasector = document.getElementById("Coasector");
        var filterdata = @Html.Raw(Json.Serialize(ViewData["filters"]));
        var values = [];
        var labels = [];
        var periodes = [];
        for (var entry in filterdata.selectedPerioden) {
            periodes[entry] = filterdata.selectedPerioden[entry].text;
        }
        function createQuerystring(arg) {
            var temp = root + "$filter=endswith(Perioden,'JJ00') eq true and KenmerkenWerknemer eq " + "'" + Kenmerkenwerknemer + "'" + 
                " and "  + "CaoSector eq"  +  "'" + arg + "'" ;
            console.log("Temp is hier fucker: " + temp);
            return temp;
        }
        for (var achtergrond in filterdata.selectedCoasector) {
            var one = $.get(
                createQuerystring(filterdata.selectedCoasector[achtergrond].value),
                function(data) {
                    var temp = [];
                    
                    for (var entry in data.value) {
                        temp[entry] = data.value[entry][Crit.value];
                        
                    } 
                    values[achtergrond] = temp;
                    labels[achtergrond] = filterdata.selectedCoasector[achtergrond].text; 
                });
        }
        var barChartData = {
            labels: periodes,
            datasets: [{
                label: labels,
                backgroundColor: "#21166e ",
                borderColor: "#21166e ",
                borderWidth: 18,
                fill: false,
                fontSize: 48,
                data: values
            }]
        };
        console.log(values);
        window.onload = function () {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'line',
                    data: {
                        labels: periodes,
                        datasets: [{
                            label: labels[0],
                            backgroundColor: "#21166e ",
                            borderColor: "#21166e ",
                            borderWidth: 3,
                            fill: false,
                            fontSize: 48,
                            data: values[0]
                        },
                        {
                            label: labels[1],
                            backgroundColor: "#685ea8 ",
                            borderColor: "#685ea8 ",
                            borderWidth: 3,
                            fill: false,
                            fontSize: 48,
                            data: values[1]
                        },
                        {
                            label: labels[2],
                            backgroundColor: "#f6ff00 ",
                            borderColor: "#f6ff00 ",
                            borderWidth: 3,
                            fill: false,
                            fontSize: 48,
                            data: values[2]
                            },
                            {
                                label: labels[3],
                                backgroundColor: "#f2499cd ",
                                borderColor: "#f2499cd ",
                                borderWidth: 3,
                                fill: false,
                                fontSize: 48,
                                data: values[3]
                            },
                            {
                             
                            },],
                        options:
                            {
                                title: {
                                    display: true,
                                    text: 'Chart.js Line Chart - Logarithmic'
                                },
                                legend: {
                                    labels: {
                                        // This more specific font property overrides the global property
                                        fontSize: 40
                                    }
                                },
                                tooltips: {
                                    titleFontSize: 40,
                                    bodyFontSize: 40
                                },
                                responsive: true,
                                maintainAspectRatio: true

                            }
                    }
                });
        }
    </script>
}
<body> 
    <canvas id="barcanvas"></canvas>   
</body>
