@using Microsoft.AspNetCore.Mvc.Rendering
@using Models
@model FilterOptions

@{
    ViewBag.Title = "MigratieAchtergrond";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    if (@ViewData["Filters"] is FilterOptions filter)
    {
       
        
        @Html.DropDownListFor(m => m.Gender, filter.SelectedGender, "Geslacht", 
            new { id="Gender"}) <br>
                                                                                                  
        @Html.DropDownListFor(m => m.Age, filter.SelectedAge, "Leeftijd", 
            new { id="Age"}) <br>
        
        @Html.DropDownListFor(m => m.Period, filter.SelectedPeriod, "Perioden", 
            new { id="Period"}) <br>
        
        @Html.DropDownListFor(m => m.Criteria, filter.SelectedCriteria, "Criteria", 
            new { id="Crit"}) <br>
        
        @Html.DropDownListFor(m => m.MigratieAchtergrond, filter.SelectedMigratieAchtergrond, "Set 1: Achtergrond", 
            new { id="Background"})  <br>
                                                                                                              
        @Html.DropDownListFor(m => m.MigratieAchtergrond2, filter.SelectedMigratieAchtergrond, "Set 2: Achtergrond" , 
            new { id="Background2"})  <br>
                                                                                                              
    }
    <input type="submit", value="Search">
}

@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        $.ajaxSetup({
            async: false
        });
        @* Fix this garbage *@
        var root = "@ViewData["root"]";
        var Gender = document.getElementById("Gender");
        var Age = document.getElementById("Age").value;
        var Period = document.getElementById("Period").value;
        var Crit = document.getElementById("Crit");
        var Background = document.getElementById("Background");
        var Background2 = document.getElementById("Background2");
        var querystring = root + "$filter=Leeftijd eq " + "'" + Age + "'" +
            " and " + "Geslacht eq " + "'" + Gender.value + "'" + 
            " and " + "Migratieachtergrond eq " + "'" + Background.value + "'" + 
            " or " + "Migratieachtergrond eq " + "'" + Background2.value + "'" + 
            " and " + "Perioden eq " + "'" + Period + "'";
        var values = [];
        @* Fix this garbage *@
        var one = $.get(
            querystring,
            function(data) {
                console.log(Crit);
                values[0] = data.value[0][Crit.value];
                values[1] = data.value[1][Crit.value];     
            });

        
        var barChartData = {
            labels: [Background.selectedOptions[0].text, Background2.selectedOptions[0].text],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: ["#21166e ","#f2499d"],
                borderWidth: 1,
                fontSize: 48,
                data: values
            }]
        };
        window.onload = function() {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'pie',
                    data: barChartData,
                    options:
                    {
                        title:
                        {
                            fontSize: 48,
                            display: true,
                            text: Crit.selectedOptions[0].text + " x1000"
                        },
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                fontSize: 40
                            }
                        },
                        tooltips: {
                            titleFontSize: 40,
                            bodyFontSize: 40
                        },
                        responsive: true,
                        maintainAspectRatio: true,
                        
                    }
                });
        }
        console.log(Background.selectedOptions[0].text);

    </script>
}
<body>  
<div style="text-align: center" width = "25%" height ="25%">  
    <canvas id="barcanvas"></canvas>  
</div>  
</body>  
