@using Microsoft.AspNetCore.Mvc.Rendering
@using Models
@model FilterOptions

@{
    ViewBag.Title = "MigratieAchtergrond";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    if (@ViewData["Filters"] is FilterOptions filter)
    {
        @Html.DropDownListFor(m => m.Age, filter.SelectedAge, "Leeftijd") <br>
        
        @Html.DropDownListFor(m => m.Gender, filter.SelectedGender, "Geslacht") <br>
        
        @Html.DropDownListFor(m => m.Period, filter.SelectedPeriod, "Perioden") <br>
        
        @Html.DropDownListFor(m => m.Criteria, filter.SelectedCriteria, "Criteria") <br>
        
        @Html.DropDownListFor(m => m.MigratieAchtergrond, filter.SelectedMigratieAchtergrond, "Set 1: Achtergrond")  <br>
                                                                                                              
        @Html.DropDownListFor(m => m.MigratieAchtergrond2, filter.SelectedMigratieAchtergrond, "Set 2: Achtergrond")  <br>
                                                                                                              
    }
    <input type="submit", value="Search">
}
@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        @* Fix this garbage *@
        var root = "@ViewData["root"]";
        var age = "@ViewData["age"]";
        var gender = "@ViewData["gender"]";
        var background = "@ViewData["background"]";
        var background2 = "@ViewData["background2"]";
        var period = "@ViewData["period"]";
        var querystring = root + "$filter=Leeftijd eq " + "'" + age + "'" +
            " and " + "Geslacht eq " + "'" + gender + "'" + 
            " and " + "Migratieachtergrond eq " + "'" + background + "'" +
            " and " + "Perioden eq " + "'" + period + "'";
        var querystring2 = root + "$filter=Leeftijd eq " + "'" + age + "'" +
            " and " + "Geslacht eq " + "'" + gender + "'" + 
            " and " + "Migratieachtergrond eq " + "'" + background2 + "'" +
            " and " + "Perioden eq " + "'" + period + "'";
        var values = [];
        @* Fix this garbage *@
        var one = $.get(
            querystring,
            function(data) {
                values[0] = data.value[0].Beroepsbevolking_2;       
            });
        var two = $.get(
            querystring2,
            function(data) {
                values[1] = data.value[0].Beroepsbevolking_2;
            });
        $.when(one, two).then(function() {

        
        var barChartData = {
            labels: ['Westerse migratieachtergrond', 'Niet-westerse migratieachtergrond'],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: ["#b994a7","#fff2a7"],
                borderWidth: 1,
                data: values
            }]

        };
        window.onload = function() {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'pie',
                    data: barChartData,
                    options:
                    {
                        title:
                        {
                            display: true,
                            text: "BeroepsBevolking x1000"
                        },
                        responsive: true,
                        maintainAspectRatio: true
                    }
                });
        }
        });

    </script>
}
<body>  
<div style="text-align: center">  
    <canvas id="barcanvas"></canvas>  
</div>  
</body>  
