@{
    ViewData["Title"] = "Deelvraag 3";
}

<h2>@ViewData["Title"]</h2>
<div>
    @foreach (var item in @Model.Value)
    {
        <p>@item.Id.ToString()</p>
        <p>@item.Leeftijd</p>
        <p>@item.Geslacht</p>
    }
    @Html.DropDownList("lfd",null,new {onchange=@Html.ActionLink("temps","FilteredDeelvraag","Home")})
</div>
<h1>In welke provincie heeft meer arbeidsdeelname van personen met migratieachtergrond en zonder migratieachtergrond</h1>