@using Microsoft.AspNetCore.Mvc.Rendering
@using Models
@model Deelvraag2FilterOptions

@{
    ViewBag.Title = "Money in NL";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    if (@ViewData["Filters"] is Deelvraag2FilterOptions filter)
    {

        @Html.DropDownListFor(m => m.KenmerkenBaanBedrijfsgrootte, filter.selectedKenmerkenBaanBedrijfsgrootte, "kenmerkenbaan",
            new { id = "KenmerkenBaanBedrijfsgrootte" }) <br>
        @*@Html.DropDownListFor(m => m.Perioden, filter.selectedPerioden, "Jaar",
            new { id = "Perioden" }) <br>*@
        @Html.DropDownListFor(m => m.critters, filter.selectedCritters, "criteria",
            new { id = "critters" }) <br>



    }
    <input type="submit" , value="Search">
}

@{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
        $.ajaxSetup({
            async: false
        });
        var root = "@ViewData["root"]";
        var KenmerkenBaanBedrijfsgrootte = document.getElementById("KenmerkenBaanBedrijfsgrootte").value;
        //var Perioden = document.getElementById("Perioden");
        var Crit = document.getElementById("critters");
        //var BedrijfstakkenBranchesSBI2008 = document.getElementById("BedrijfstakkenBranchesSBI2008");
        //var BedrijfstakkenBranchesSBI20082 = document.getElementById("BedrijfstakkenBranchesSBI20082");
        var filterdata = @Html.Raw(Json.Serialize(ViewData["filters"]));
        var values = [];
        var labels = [];
        var periodes = [];
        for (var entry in filterdata.selectedPerioden) {
            periodes[entry] = filterdata.selectedPerioden[entry].text;
        }
        function createQuerystring(arg) {
            var temp = root + "$filter=endswith(Perioden,'JJ00') eq true and " +
                "KenmerkenBaanBedrijfsgrootte eq " + "'" + KenmerkenBaanBedrijfsgrootte + "'" +
                " and " + "BedrijfstakkenBranchesSBI2008 eq " + "'" + arg + "'";
            return temp;
        }
        for (var achtergrond in filterdata.selectedBedrijfstakkenBranchesSBI2008) {
            var one = $.get(
                createQuerystring(filterdata.selectedBedrijfstakkenBranchesSBI2008[achtergrond].value),
                function(data) {
                    var temp = [];
                    for (var entry in data.value) {
                        temp[entry] = data.value[entry][Crit.value];
                    }
                    values[achtergrond] = temp;
                    labels[achtergrond] = filterdata.selectedBedrijfstakkenBranchesSBI2008[achtergrond].text;
                });
        }
        var barChartData = {
            labels: periodes,
            datasets: [{
                label: labels,
                backgroundColor: "#21166e ",
                borderColor: "#21166e ",
                borderWidth: 12,
                fill: false,
                fontSize: 48,
                data: values
            }]
        };
        console.log(values);
        window.onload = function () {
            var ctx1 = document.getElementById("barcanvas").getContext("2d");
            window.myBar = new Chart(ctx1,
                {
                    type: 'line',
                    data: {
                        labels: periodes,
                        datasets: [{
                            label: labels[0],
                            backgroundColor: "#21166e ",
                            borderColor: "#21166e ",
                            borderWidth: 3,
                            fill: false,
                            fontSize: 48,
                            data: values[0]
                        },
                        {
                            label: labels[1],
                            backgroundColor: "#685ea8 ",
                            borderColor: "#685ea8 ",
                            borderWidth: 3,
                            fill: false,
                            fontSize: 48,
                            data: values[1]
                        },
                        {
                            label: labels[2],
                            backgroundColor: "#f6ff00 ",
                            borderColor: "#f6ff00 ",
                            borderWidth: 3,
                            fill: false,
                            fontSize: 48,
                            data: values[2]
                            },
                            {
                                label: labels[3],
                                backgroundColor: "#f6ff00 ",
                                borderColor: "#f6ff00 ",
                                borderWidth: 3,
                                fill: false,
                                fontSize: 48,
                                data: values[3]
                            },
                            {
                                label: labels[4],
                                backgroundColor: "#f6ff00 ",
                                borderColor: "#f6ff00 ",
                                borderWidth: 3,
                                fill: false,
                                fontSize: 48,
                                data: values[4]
                            },],
                        options:
                            {
                                title: {
                                    display: true,
                                    text: 'Chart.js Line Chart - Logarithmic'
                                },
                                legend: {
                                    labels: {
                                        // This more specific font property overrides the global property
                                        fontSize: 40
                                    }
                                },
                                tooltips: {
                                    titleFontSize: 40,
                                    bodyFontSize: 40
                                },
                                responsive: true,
                                maintainAspectRatio: true

                            }
                    }
                });
        }
    </script>
}
<body>
    <div style="text-align: center" width="25%" height="25%">
        <canvas id="barcanvas"></canvas>
    </div>
</body>